--extra-index-url https://download.pytorch.org/whl/cu121 torch==2.4.1+cu121 torchaudio==2.4.1+cu121
whisperx @ git+https://github.com/m-bain/whisperx.git #git+https://github.com/R3gm/whisperX.git@cuda_11_8 #git+https://github.com/kennytat/whisperx.git@large-v3
gradio==4.44.1
yt-dlp
python-dotenv
ffmpeg-python
rarfile
jmespath
babel
colorama
## === FastAPI ===
fastapi
starlette
asyncio
passlib
uvicorn
itsdangerous
aiosqlite