## Google translate
deep_translator
python-docx
## T5 transformer translate
# pytesseract
# transformers
# accelerate
# datasets
# rouge-score
# nltk
# bitsandbytes
# peft
# scipy
## VB translate
langdetect
## LLM translate
openai
pyarrow
langchain
langchain_community
langchain-openai
## === Spell check ===
neuspell
gdown