gradio==4.25.0
## T5 transformer translate
pytesseract
transformers
accelerate
datasets
rouge-score
nltk
bitsandbytes
peft
scipy
# VB translate
langdetect
-e git+https://github.com/pytorch/fairseq.git@v0.12.1#egg=fairseq
# LLM translate
openai
langchain
# vietTTS
regex
cryptography
langdetect
vietnam_number
docx2txt
# svc
so-vits-svc-fork
# rvc
praat-parselmouth>=0.4.3
pyworld==0.3.2
faiss-cpu==1.7.3
torchcrepe
ffmpeg-python>=0.2.0
gdown
rarfile
#mlx
mlx>=0.1
tqdm
more-itertools
tiktoken==0.3.3
huggingface_hub