## Google translate
deep_translator
## T5 transformer translate
# pytesseract
# transformers
# accelerate
# datasets
# rouge-score
# nltk
# bitsandbytes
# peft
# scipy
## VB translate
langdetect
# fairseq==0.12.2
# omegaconf
# -e git+https://github.com/pytorch/fairseq.git@v0.12.2#egg=fairseq
## LLM translate
openai
langchain
langchain_community
langchain-openai
## === Spell check ===
neuspell