IPython
nest_asyncio
--extra-index-url https://download.pytorch.org/whl/cu117 torch==2.0.1+cu117 torchvision==0.15.2+cu117 torchaudio==2.0.2+cu117
yt-dlp
gTTS
pydub==0.25.1
edge_tts==6.1.7
deep_translator==1.11.4
python-dotenv
datetime
pathlib
srt
whisperx @ git+https://github.com/kennytat/whisperx.git@large-v3
## Audio Upsampling
# audiosr
# cog
## FastAPI
fastapi
starlette
asyncio
passlib
uvicorn
itsdangerous
aiosqlite