## T5 transformer translate
pytesseract
transformers
accelerate
datasets
rouge-score
nltk
bitsandbytes
peft
scipy
# VB translate
langdetect
-e git+https://github.com/pytorch/fairseq.git@v0.12.1#egg=fairseq
# LLM translate
openai
langchain
# vietTTS
regex
cryptography
langdetect
vietnam_number
docx2txt
# so-vits-svc-fork
so-vits-svc-fork
#
praat-parselmouth>=0.4.3
pyworld==0.3.2
faiss-cpu==1.7.3
torchcrepe==0.0.20
ffmpeg-python>=0.2.0
gdown
rarfile