IPython
--extra-index-url https://download.pytorch.org/whl/cu117 torch==2.0.1+cu117 torchvision==0.15.2+cu117 torchaudio==2.0.2+cu117
yt-dlp
deep_translator==1.11.4
python-dotenv
datetime
pathlib
gradio
## Audio Upsampling
# audiosr
# cog
## === FastAPI ===
fastapi
starlette
asyncio
passlib
uvicorn
itsdangerous
aiosqlite
## === Spell check ===
neuspell