## T5 transformer translate
pytesseract
transformers
accelerate
datasets
rouge-score
nltk
bitsandbytes
peft
scipy
# VB translate
langdetect
-e git+https://github.com/pytorch/fairseq.git@v0.12.1#egg=fairseq
# LLM translate
openai
langchain
langchain_community