# TTS
gradio==4.29.0
yt_dlp
rarfile
ffmpeg-python
IPython
langdetect
regex
srt
python-dotenv

## === VietTTS ===
docx2txt
nltk
cryptography
vietnam_number
nest_asyncio
## === xTTS ===
# TTS @ git+https://github.com/thinhlpg/TTS.git@add-vietnamese-xtts
typing-extensions
cutlet
deepspeed
# mecab-python3==1.0.6
# unidic-lite==1.0.8
# unidic==1.1.0
# langid
# vinorm
# underthesea
## === TTS ===
gTTS
edge_tts
piper-tts
onnxruntime-gpu
## === SVC ===
so-vits-svc-fork
## === RVC ===
praat-parselmouth>=0.4.3
pyworld==0.3.2
faiss-cpu==1.7.3
torchcrepe
gdown
antlr4-python3-runtime==4.8
## === Open voice ===
librosa
faster-whisper
pydub
wavmark
numpy
eng_to_ipa
inflect
unidecode
whisper-timestamped
openai
pypinyin
cn2an
jieba
langid
huggingface-hub
## === Audio Upsampling ===
# audiosr
# cog
## === FastAPI ===
fastapi
starlette
asyncio
passlib
uvicorn
itsdangerous
aiosqlite
