whisperx==3.7.4
gradio==6.4.0
yt-dlp
python-dotenv
ffmpeg-python
rarfile
jmespath
babel
colorama
## === FastAPI ===
fastapi
pandas
pydantic
starlette
asyncio
passlib
uvicorn
itsdangerous
aiosqlite
natsort
srt
IPython
mlx; sys_platform == "darwin"
numba; sys_platform == "darwin"
vietnam_number; sys_platform == "darwin"